@font-face {
  font-family: 'beyond-wonderland';
  src: url('../../assets/fonts/beyond-wonderland.ttf');
}

@font-face {
  font-family: 'dodge';
  src: url('../../assets/fonts/dodge.ttf');
}

@font-face {
  font-family: 'glamourgirl';
  src: url('../../assets/fonts/glamourgirl.ttf');
}

@font-face {
  font-family: 'littlelord';
  src: url('../../assets/fonts/littlelord.ttf');
}

@font-face {
  font-family: 'newyork';
  src: url('../../assets/fonts/newyork.ttf');
}

@font-face {
  font-family: 'precious';
  src: url('../../assets/fonts/precious.ttf');
}

@font-face {
  font-family: 'radar';
  src: url('../../assets/fonts/radar.ttf');
}

@font-face {
  font-family: 'requiem';
  src: url('../../assets/fonts/requiem.ttf');
}

@font-face {
  font-family: 'ringbearer';
  src: url('../../assets/fonts/ringbearer.ttf');
}

@font-face {
  font-family: 'saucer';
  src: url('../../assets/fonts/saucer.ttf');
}

@font-face {
  font-family: 'underworld';
  src: url('../../assets/fonts/underworld.ttf');
}

@font-face {
  font-family: 'alba';
  src: url('../../assets/fonts/alba/alba.ttf');
}

@font-face {
  font-family: 'alba-bold';
  src: url('../../assets/fonts/alba/albam.ttf');
}

@font-face {
  font-family: 'alba-bevel';
  src: url('../../assets/fonts/alba/albas.ttf');
}
